body{
	margin:1%;
	padding:1%;
	font-size:150%;
}

h1{
	font-size: 2em; 
	font-weight: bold;
}

.active {
    background-color: lightblue;
    font-weight: bold;
    border: 3px solid navy;
}

.active a{
	text-decoration: none;
}

img {
    margin: 12px;
    border: 5px solid green;
    width: 325px;
}

img:hover {
    border: dashed;
}

h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}

/*Add borders around the main components and some
space too*/
header, nav, main, h1, footer{
	border: 2px solid grey;
	margin: 10px 0;
}


/*Change the styling for all of the list 
items in the nav section*/
nav li{
	background-color: #ECFF4D;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
}



/*Added this so the links stay the same color*/
a:visited{color:#0000FF}